<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link href="../static/style.css" rel="stylesheet" type="text/css"/>
</head>
{% include 'header.html' %}

<body>
	
	<h1>Hello {{ username }}</h1>
	
	<div>
		<li><a href="{{ url_for('Home')}}">déconnexion</a></li>
	</div>
	<br>
	<br>	
	<h3>Pour commencer vous devrez créer un carnet, une fois le carnet (ex:Film créer) ajouter les listes lier à celui-ci par exemple les listes (deadpool, star wars et harry potter) ensuite pour chaque film ajouter les phrases cultes en français et chercher leurs traductions en anglais.</h3>
</body>
{% include 'footer.html' %}
</html>