<!DOCTYPE html>
<html>
<head>
	<title>Inscription</title>
	<link href="../static/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
	<h2>Inscription à Franglish !</h2>
	<div id="frm">
		<form method="POST">
			<p>
				<label>Username:</label>
				<br>
				<input type="text" id="user" name="user"/>

			</p>
			<p>
				<label>Password: </label>
				<br>
				<input type="password" id="pass" name="pass" />
			</p>
			<p>
				<label>Confirm Password: </label>
				<br>
				<input type="password" id="pass2" name="pass2" />
			</p>
			<p>
				<input type="submit" value="S'inscrire"/>
			</p>
			<br>
		</form>
	</div>	
	
</body>
</html>